:root {
    --player-width: 640px;
    --player-height: 240px;
    --text-color: rgb(54, 54, 54);
    --btn-active-color: rgba(228, 94, 135, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, rgba(96, 193, 226, 1) 0%, rgba(228, 94, 135, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    position: relative;
    height: 100vh;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--player-width);
    height: var(--player-height);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgb(91, 91, 91, 0.2);
    display: flex;
    overflow: hidden;
}

.icon-pause {
    display: none;
}

.player.playing .icon-play {
    display: none;
}

.player.playing .icon-pause {
    display: block;
}

.player-image {
    width: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 1s;
    opacity: 0;
}

.player-image.player-image--active {
    opacity: 1;
    width: var(--player-height);
}

.song {
    text-align: center;
    margin: 20px;
    position: relative;
    flex: 1;
    transition: all ease 1s;
    display: flex;
    flex-direction: column;
}

.btn-playlist {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}

.btn-playlist:active {
    opacity: 0.8;
}

.song-heading {
    color: var(--text-color);
    margin: 12px auto;
    width: 100%;
}

.song-heading h4 {
    font-weight: 400;
    margin-bottom: 4px;
}

.song-heading__name {
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
}

.song-heading__performer {
    font-size: 18px;
    font-weight: 500;
}

.song-control {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px auto 0;
    font-size: 20px;
}

.btn {
    color: var(--text-color);
    padding: 8px 12px;
    cursor: pointer;
    width: 40px;
    line-height: 20px;
}

.btn:active {
    opacity: 0.8;
}

.icon-pause,
.icon-play {
    font-size: 28px;
}

.btn-prev,
.btn-next {
    font-size: 24px;
}

.btn-toggle-repeat {
    position: relative;
}

.icon-repeat-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    font-weight: 800;
    display: none;
}

.btn-toggle-repeat-1--active .icon-repeat-1 {
    display: block;
}

.btn-toggle-repeat,
.btn-shuffle {
    opacity: 0.5;
    font-size: 18px;
    transition: linear 0.2s;
}

.btn-toggle-repeat-1--active,
.btn-toggle-repeat--active,
.btn-shuffle--active {
    opacity: 1;
}

.progress-area {
    width: 100%;
    color: var(--text-color);
}

.progress-container {
    position: relative;
    height: 20px;
}

.progress-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.2s;
}


.progress-bar .progress {
    position: relative;
    width: 0;
    height: 100%;
    background-color: var(--text-color);
    border-radius: 12px;
}

.progress-bar .progress::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
    height: 16px;
    width: 16px;
    background-color: var(--text-color);
    border-radius: 50%;
    opacity: 0;
}

.progress-bar .progress,
.progress-bar .progress::after {
    pointer-events: none;
}

.progress-container:hover .progress::after {
    opacity: 1;
}

.progress-duration {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.volume-area {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
}

.volume-icon {
    color: var(--text-color);
    cursor: pointer;
}

.volume-icon:active {
    opacity: 0.8;
}

.icon-mute,
.icon-low,
.icon-high {
    display: none;
}

.volume-icon--mute .icon-mute,
.volume-icon--low .icon-low,
.volume-icon--high .icon-high {
    display: block;
}

.volume-bar {
    width: 4px;
    height: 80px;
    background-color: #fff;
    border-radius: 8px;
    transition: linear 0.1s;
    cursor: pointer;
    margin: 2px 0 4px;
    display: none;
}

.volume-area:hover .volume-bar {
    display: block;
}

.volume-bar:hover {
    width: 12px;
    border-radius: 4px;
}

.volume-bar .volume {
    height: 75%;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 8px;
    pointer-events: none;
}

.volume-bar:hover .volume {
    border-radius: 4px;
}

.playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all ease 1s;
    opacity: 0;
    width: 0;
    color: var(--text-color);
}

.playlist.playlist--active {
    width: var(--player-height);
    margin: 12px;
    opacity: 1;
}

.playlist-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playlist-item:active {
    opacity: 0.8;
}

.playlist-item__thumb {
    width: 48px;
}

.playlist-item__image {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.playlist-item__info {
    margin-left: 8px;
    flex: 1;
}

.playlist-item__song-name {
    font-size: 20px;
}

.playlist-item__performer {
    font-size: 16px;
}

.playlist-item__song-name,
.playlist-item__performer {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.playlist>p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 4px;
}

.playlist-pending {
    overflow: scroll;
}

.playlist-pending::-webkit-scrollbar {
    display: none
}

.playlist-pending .playlist-item+.playlist-item {
    margin-top: 8px;
}

.playlist-pending .playlist-item__image {
    border-radius: 8px;
}

.playlist-pending .playlist-item__thumb {
    width: 40px;
}

.playlist-pending .playlist-item__song-name {
    font-size: 16px;
}

.playlist-pending .playlist-item__performer {
    font-size: 12px;
}