:root {
    --player-width: 600px;
    --player-height: 240px;
    --text-color: rgb(54, 54, 54);
    --progres-color: rgb(66, 66, 66);
    --background--color: linear-gradient(120deg, rgba(96, 193, 226, 1) 0%, rgba(228, 94, 135, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    height: 100vh;
    background: var(--background--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: scroll; */
}

.hide-on-pc {
    display: none;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: var(--player-width);
    height: var(--player-height);
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease 1s;
}

.player-title {
    display: none;
}

.player-thumbnail {
    width: var(--player-height);
    transition: all ease 1s;
}

.player-thumbnail__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-thumbnail--unactive {
    opacity: 0;
    width: 0;
}

.player-thumbnail-mobile__img {
    display: none;
}

.song {
    flex-grow: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.song-heading {
    margin: 12px 0 8px;
}

.song-heading__title {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
}

.song-heading__name {
    font-size: 20px;
}

.song-heading__performer {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}

.progress-area {
    width: 80%;
    margin: 0 auto;
}

.progress-container {
    position: relative;
    height: 16px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.progress {
    position: relative;
    width: 10%;
    height: 4px;
    background-color: var(--progres-color);
    border-radius: 12px;
    pointer-events: none;
}

.progress::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--progres-color);
    border-radius: 50%;
    transition: all ease 0.5s;
}

.progress-container:hover .progress::after {
    right: -8px;
    width: 16px;
    height: 16px;
}

.progress-duration {
    display: flex;
    justify-content: space-between;
}

.progress-start,
.progress-end {
    font-size: 12px;
    font-weight: 600;
}

.song-control,
.sub-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.btn {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.song-control__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    transition: all ease 1s;
}

.sub-control .btn {
    width: 28px;
    height: 28px;
}

.sub-control .song-control__icon {
    font-size: 16px;
}

.btn-toggle-play .song-control__icon {
    font-size: 28px;
}

.btn:active {
    opacity: 0.5;
}

.btn:active .song-control__icon {
    font-size: 16px;
}

.btn-toggle-repeat,
.btn-shuffle {
    opacity: 0.5;
}

.icon-pause {
    display: none;
}

.player.playing .icon-play {
    display: none;
}

.player.playing .icon-pause {
    display: block;
}

.icon-repeat-1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6px;
    font-weight: 800;
}

.btn-toggle-repeat {
    position: relative;
}

.btn-toggle-repeat--active,
.btn-shuffle--active,
.btn-toggle-repeat-1--active {
    opacity: 1;
}

.btn-toggle-repeat-1--active .icon-repeat-1 {
    display: block;
}

.volume-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.volume-area .icon-off:hover,
.volume-area .icon-high:hover {
    cursor: pointer;
}

.volume-area .icon-off:active,
.volume-area .icon-high:active {
    opacity: 0.7;
}

.volume-container {
    position: relative;
    height: 12px;
    flex-grow: 1;
    margin: 0 12px;
}

.volume-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.volume {
    position: relative;
    width: 10%;
    height: 4px;
    background-color: var(--progres-color);
    border-radius: 12px;
    pointer-events: none;
}

.playlist {
    height: 100%;
    width: 0;
    opacity: 0;
    transition: all ease 1s;
}

.playlist--active {
    opacity: 1;
    width: var(--player-height);
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.playlist-pending {
    overflow: scroll;
}

.playlist-pending::-webkit-scrollbar {
    display: none;
}

.playlist-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playlist-item__thumb {
    width: 40px;
    height: 40px;
}

.playlist-thumbnail__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.playlist-item__info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 8px;
}

.playlist-item__song-name {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.9;
}

.playlist-item__performer {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

.pending-title {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
    margin: 8px 0 4px;
}

.playlist-playing .playlist-item__thumb {
    width: 48px;
    height: 48px;
}

.playlist-playing .playlist-thumbnail__img {
    border-radius: 50%;
}

.playlist-pending .playlist-item+.playlist-item {
    margin-top: 8px;
}

.playlist-pending .playlist-item__name {
    font-size: 16px;
}

.playlist-pending .playlist-item__performer {
    font-size: 14px;
}

/* Responsive in mobile */
@media (max-width: 640px) {
    .hide-on-mobile {
        display: none;
    }

    .show-in-mobile {
        display: block;
    }

    .player {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: unset;
        position: relative;
    }

    .player-title {
        margin-top: 20px;
        display: block;
        font-size: 40px;
        font-weight: 500;
        opacity: 0.8;
        text-align: center;
    }

    .player-thumbnail {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .player-thumbnail--unactive {
        height: 0;
        opacity: 0;
    }

    .player-thumbnail-mobile__img {
        height: 60%;
        object-fit: fill;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all ease 1s;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

    .player.playing .player-thumbnail-mobile__img {
        height: 80%;
    }

    .song {
        width: 100%;
        height: unset;
    }

    .song-heading {
        text-align: left;
        margin: 0 18px;
    }

    .song-control {
        margin: 0 auto;
        width: 80%;
    }

    .song-control .song-control__icon {
        font-size: 28px;
    }

    .btn-toggle-play .song-control__icon {
        font-size: 32px;
    }

    .progress-area {
        width: 90%;
    }

    .volume-area {
        width: 70%;
    }

    .sub-control .song-control__icon {
        font-size: 20px;
    }

    .icon-repeat-1 {
        font-size: 8px;
    }

    .playlist {
        height: 0;
        width: 100%;
    }

    .playlist--active {
        height: 100%;
    }

    .playlist-pending .playlist-item+.playlist-item {
        margin-top: 12px;
    }
}